#input BASE_DOMAIN=tetofonta.local #Base DNS domain. certificates will be required for [subdomain(n)].BASE_DOMAIN.

#noask TOKEN=hasstoken
#noask DASH_URL=https://homeassistant.${BASE_DOMAIN}/service/appdamon/