#defvar GENERATED_AUTHENTIK_POSTGRES_PASSWORD=$(pwgen -c -n -s -B 32 1)

AUTHENTIK_POSTGRESQL__USER=authentiksql#postgresql authentik user name
#noask AUTHENTIK_POSTGRESQL__PASSWORD=${GENERATED_AUTHENTIK_POSTGRES_PASSWORD}
AUTHENTIK_POSTGRESQL__NAME=authentikdb#postgresql authentik database
