#input BASE_DOMAIN=tetofonta.local #Base DNS domain. certificates will be required for [subdomain(n)].BASE_DOMAIN.

#noask SUBDOMAINS=sso homeassistant pgadmin code portainer backup monitor aa2cf2e4ef82b51be5f9a81c9697fefa
#noask DOMAIN=${BASE_DOMAIN}

EMAIL=tetofonta@tetomail.com#Account email for certbot
STAGING=false#if true will be using staging ca. not trusted but good for testing because no limits are applied
AGREE_TOS=true#let'sencrypt TOS
