#defvar GENERATED_GRAFANA_POSTGRES_PASSWORD=$(pwgen -c -n -s -B 32 1)

GRAPHANA_POSTGRESQL__USER=grafana#grafana postgres username
#noask GRAPHANA_POSTGRESQL__PASSWORD=${GENERATED_GRAFANA_POSTGRES_PASSWORD}
GRAPHANA_POSTGRESQL__DB=graphanadb#grafana database name
