#defvar GENERATED_GRAFANA_OAUTH_CLIENTID=$(pwgen -c -n -s -B 27 1)
#defvar GENERATED_GRAFANA_OAUTH_CLIENTSECRET=$(pwgen -c -n -s -B 128 1)
#input BASE_DOMAIN=tetofonta.local #Base DNS domain. certificates will be required for [subdomain(n)].BASE_DOMAIN.

#noask GRAPHANA_OAUTH_CLIENT_ID=${GENERATED_GRAFANA_OAUTH_CLIENTID}
#noask GRAPHANA_OAUTH_CLIENT_SECRET=${GENERATED_GRAFANA_OAUTH_CLIENTSECRET}

#noask GRAPHANA_URL=https://monitor.${BASE_DOMAIN}/
#noask GRAPHANA_DOMAIN=monitor.${BASE_DOMAIN}
#noask GRAPHANA_TOKEN_URL=https://sso.${BASE_DOMAIN}/application/o/token/
#noask GRAPHANA_AUTH_URL=https://sso.${BASE_DOMAIN}/application/o/authorize/
#noask GRAPHANA_USERINFO_URL=https://sso.${BASE_DOMAIN}/application/o/userinfo/
