#input HOMEASSISTANT_USER_PASSWORD=$(pwgen -c -n -s -B 16 1) #base user password (authentik)

HASS_USERNAME=tetofonta#homeassistant username
HASS_NAME=tetofonta#homeassistant name
HASS_EMAIL=teto@tetofonta.local#homeassistant user email
#noask HASS_PASSWORD=${HOMEASSISTANT_USER_PASSWORD}
