#defvar GENERATED_HASS_POSTGRES_PASSWORD=$(pwgen -c -n -s -B 32 1)

HASS_POSTGRESQL__USER=homeassistantsql# homeassistan sql username
#noask HASS_POSTGRESQL__PASSWORD=${GENERATED_HASS_POSTGRES_PASSWORD}
HASS_POSTGRESQL__DB=homeassistantdb#homeassistant db name

#noask HASS_POSTGRESQL__URL=postgresql://${HASS_POSTGRESQL__USER}:${HASS_POSTGRESQL__PASSWORD}@database/${HASS_POSTGRESQL__DB}
