#defvar GENERATED_INFLUX_PASSWORD=$(pwgen -c -n -s -B 32 1)
#defvar GENERATED_INFLUX_TOKEN=$(pwgen -c -n -s -B 128 1)

INFLUX_USER=tetofonta#influx username
#noask INFLUX_PASSWORD=${GENERATED_INFLUX_PASSWORD}
INFLUX_ORG_NAME=tetohome#influx organization name
#noask INFLUX_TOKEN=${GENERATED_INFLUX_TOKEN}
INFLUX_BUCKET=hadata#influx default bucket
