#defvar GENERATED_PGADMIN_PSW=$(pwgen -c -n -s -B 64 1)

#noask PGADMIN_DEFAULT_EMAIL=teto@tetofonta.local
#noask PGADMIN_DEFAULT_PASSWORD=${GENERATED_PGADMIN_PSW}
#noask PGADMIN_DISABLE_POSTFIX=true
#noask PGADMIN_ENABLE_TLS=true
