#defvar GENERATED_PGADMIN_OAUTH_CLIENTID=$(pwgen -c -n -s -B 27 1)
#defvar GENERATED_PGADMIN_OAUTH_CLIENTSECRET=$(pwgen -c -n -s -B 128 1)
#input BASE_DOMAIN=tetofonta.local #Base DNS domain

#noask PGADMIN_OAUTH_CLIENT_ID=${GENERATED_PGADMIN_OAUTH_CLIENTID}
#noask PGADMIN_OAUTH_CLIENT_SECRET=${GENERATED_PGADMIN_OAUTH_CLIENTSECRET}
#noask PGADMIN_URL=https://pgadmin.${BASE_DOMAIN}/
#noask PGADMIN_TOKEN_URL=https://sso.${BASE_DOMAIN}/application/o/token/
#noask PGADMIN_AUTH_URL=https://sso.${BASE_DOMAIN}/application/o/authorize/
#noask PGADMIN_USERINFO_URL=https://sso.${BASE_DOMAIN}/application/o/userinfo/
#noask PGADMIN_API_BASE=https://sso.${BASE_DOMAIN}/
