#defvar GENERATED_POSTGRES_PASSWORD=$(pwgen -c -n -s -B 32 1)

#noask POSTGRES_PASSWORD=${GENERATED_POSTGRES_PASSWORD}
POSTGRES_USER=postgreadm#postgres user
POSTGRES_DB=postgresql#postgres defaulkt database name

#noask DATA_SOURCE_NAME=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?sslmode=disable
