DOMAINS=authdev.tetofonta.example.org hassdev.tetofonta.example.org pgadmin.tetofonta.example.org code.tetofonta.example.org portainer.tetofonta.example.org
EMAIL=tetofonta@tetomail.com
STAGING=false
AGREE_TOS=false