GRAPHANA_OAUTH_CLIENT_ID=CUveWKbKaL4gfFaojAAAni7yd3Y
GRAPHANA_OAUTH_CLIENT_SECRET=VNHjHsRVtvnA3vHPa4YmiiePqLnXMHV9FmtwxkyJzmnjqbMmJpTxkFA9RMd9HhWovCHUvsAbNFgELhcbW4iAwYuWuh4jdsvuJN7RiFcgHkvHURotkzPCyEghjdPfWJnM
GRAPHANA_URL=https://monitor.tetofonta.local/
GRAPHANA_DOMAIN=monitor.tetofonta.local
GRAPHANA_TOKEN_URL=https://sso.tetofonta.local/application/o/token/
GRAPHANA_AUTH_URL=https://sso.tetofonta.local/application/o/authorize/
GRAPHANA_USERINFO_URL=https://sso.tetofonta.local/application/o/userinfo/
